html {
  border-radius: 2px;
  border: 7px solid #000000;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #000000;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #041c05, #052f0e);
    color: white;
}

#status {
  animation: color-blink 2s infinite;
}

@keyframes color-blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.5; }
  100% { opacity: 1; }
}

@media screen and (min-width: 481px) {
    #forForModel {
      background-color: transparent;
      display: flex;
      justify-content: center;
    }
    #forModel {
      background-color: transparent;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forModel:hover {
      cursor: pointer;
      opacity: 80%;
    }
    #forModel:active {
      opacity: 0.5;
    }

    #forForClothing {
      background-color: none;
      display: flex;
      justify-content: center;
    }
    
    #forClothing {
      background-color: transparent;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forClothing:hover {
      cursor: pointer;
      opacity: 80%;
    }
    #forClothing:active {
      opacity: 0.5;
    }

    #titleHeader {
      color: rgb(217, 217, 217);
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      border-radius: 20px;
      background: none;
      box-shadow: 0 0 3px 3px rgb(0, 0, 0);
    }

    #upgradeButton:hover {
      cursor: pointer;
      opacity: 80%;
    }
    #upgradeButton {
      color: rgb(103, 255, 9);
      font-family: "Montserrat", sans-serif;
      font-size: 1.4vw;
      position: absolute;
      right: 40px;
      top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid rgb(140, 191, 0);
      border-radius: 10px;
      background: rgb(23, 1, 1);
    }
    #generateTryon {
      background-color: black;
      color: rgb(217, 217, 217);
      border: 1px solid white;
      border-radius: 2px;
      
    }

    #generateTryon:hover {
      cursor: pointer;
      opacity: 90%;
    }

    #attribute {
      position: absolute;
      bottom: 10px;
      left: 45%;
      text-align: center;
    }
    .previewGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      width: 100%;
      margin-top: 100px;
    }
    .snap {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
}





@media screen and (max-width: 480px) {
  #forForModel {
    background-color: black;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 200px;
    right: 20%;
  }
  #forForClothing {
    background-color: black;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 200px;
    left: 20%;
  }
  #forModel {
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  #forModel:active {
    opacity: 0.5;
  }
  #forClothing {
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  #forClothing:active {
    opacity: 0.5;
  }
  #titleHeader {
    color: rgb(191, 255, 155);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    text-shadow: 0px 0px 10px rgba(143, 255, 143, 0.358);
  }
  #upgradeButton {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 600;

    border: 1px dashed white;
    border-radius: 10px;
    background: rgb(12, 177, 0);

    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);

    padding: 15px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #upgradeButton:active {
    opacity: 0.5;
  }
  #generateTryon {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 60px;

    font-family: "Montserrat", sans-serif;
    font-size: large;
    color: rgb(172, 255, 172);
    background-color: black;
    border: 1px solid rgb(7, 84, 0);
    border-radius: 10px;
  }
  #generateTryon:active {
    opacity: 0.5;
  }
  #attribute {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}