html {
  border-radius: 2px;
  border: 7px solid #000000;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #000000;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #041c05, #052f0e);
    color: white;
}

@media screen and (min-width: 481px) {
    #forModel {
        color: rgb(200, 201, 167);
        font-size: 2vw;
        display: flex;
        justify-content: center;
    }

    #titleHeader {
        color: rgb(217, 217, 217);
        font-family: "Montserrat", sans-serif;
        font-size: 2vw;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        border-radius: 20px;
        background: none;
        box-shadow: 0 0 3px 3px rgb(0, 0, 0);
    }
}

@media screen and (max-width: 480px) {
  #forModel {
    color: rgb(200, 201, 167);
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  #titleHeader {
    color: rgb(217, 217, 217);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: 0 0 3px 3px rgb(0, 0, 0);
  }
}
