html {
  border-radius: 2px;
  border: 7px solid #000000;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #000000;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #041c05, #052f0e);
    color: white;
}

@media screen and (min-width: 481px) {
    #forForModel {
      background-color: none;
      display: flex;
      justify-content: center;
    }
    #forModel {
      background-color: black;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forModel:hover {
      cursor: pointer;
      opacity: 80%;
    }

    #forForClothing {
      background-color: none;
      display: flex;
      justify-content: center;
    }

    #forClothing {
      background-color: black;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forClothing:hover {
      cursor: pointer;
      opacity: 80%;
    }

    #titleHeader {
      color: rgb(217, 217, 217);
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      border-radius: 20px;
      background: none;
      box-shadow: 0 0 3px 3px rgb(0, 0, 0);
    }

    #upgradeButton:hover {
      cursor: pointer;
      opacity: 80%;
    }
    #upgradeButton {
      color: rgb(197, 10, 10);
      font-family: "Montserrat", sans-serif;
      font-size: 1vw;
      position: absolute;
      right: 40px;
      top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: white;
      border-radius: 10px;
      background: black;
    }
    #generateTryon {
      background-color: black;
      color: rgb(217, 217, 217);
      border: 1px solid white;
    }

    #generateTryon:hover {
      cursor: pointer;
      opacity: 90%;
    }

}

@media screen and (max-width: 480px) {
  #forModel {
    color: rgb(200, 201, 167);
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  #titleHeader {
    color: rgb(217, 217, 217);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: 0 0 3px 3px rgb(0, 0, 0);
  }
}
