html {
  border-radius: 2px;
  border: 7px solid #000000;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #000000;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #041c05, #052f0e);
    color: white;
}

#status {
  animation: color-blink 2s infinite step-start;
}
@keyframes color-blink {
  0% {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  50% {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
  }
  100% {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
}

@media screen and (min-width: 481px) {
    #forForModel {
      background-color: transparent;
      display: flex;
      justify-content: center;
    }
    #forModel {
      background-color: black;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forModel:hover {
      cursor: pointer;
      opacity: 80%;
    }

    #forForClothing {
      background-color: none;
      display: flex;
      justify-content: center;
    }
    
    #forClothing {
      background-color: black;
      color: rgb(200, 201, 167);
      display: inline-block;
      font-size: 2vw;
      display: flex;
      justify-content: center;
    }
    #forClothing:hover {
      cursor: pointer;
      opacity: 80%;
    }

    #titleHeader {
      color: rgb(217, 217, 217);
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      border-radius: 20px;
      background: none;
      box-shadow: 0 0 3px 3px rgb(0, 0, 0);
    }

    #upgradeButton:hover {
      cursor: pointer;
      opacity: 80%;
    }
    #upgradeButton {
      color: rgb(103, 255, 9);
      font-family: "Montserrat", sans-serif;
      font-size: 1vw;
      position: absolute;
      right: 40px;
      top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid rgb(150, 0, 0);
      border-radius: 10px;
      background: rgb(23, 1, 1);
    }
    #generateTryon {
      background-color: black;
      color: rgb(217, 217, 217);
      border: 1px solid white;
    }

    #generateTryon:hover {
      cursor: pointer;
      opacity: 90%;
    }

    #attribute {
      position: absolute;
      bottom: 10px;
      left: 45%;
      text-align: center;
    }
    .previewGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      width: 100%;
      margin-top: 100px;
    }
    .snap {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
}

@media screen and (max-width: 480px) {
  #forModel {
    color: rgb(200, 201, 167);
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  #titleHeader {
    color: rgb(217, 217, 217);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: 0 0 3px 3px rgb(0, 0, 0);
  }
  #upgradeButton {
      color: rgb(197, 10, 10);
      font-family: "Montserrat", sans-serif;
      font-size: 3vw;
      position: absolute;
      right: 10px;
      top: 8px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: white;
      border-radius: 10px;
      background: black;
    }
    #generateTryon {
      position: fixed;
      bottom: 30px;
    }
}